body {

}

h1 {

  color: white;
  text-align: center;
  background-color: black;
  border: 2px solid ghostwhite;
  opacity: 0.3;
  padding: 20px;
}

p {
  font-family: verdana;
  font-size: 20px;
  
  border: 1px solid black;
}

/* this css comment syntax */

<style>
a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
</style>